<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>flix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FA3F4301EFB1B6700B4383D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FA3F4441EFB1B6700B4383D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FA3F44F1EFB1B6800B4383D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
